In [19]:
import numpy as np
import pandas as pd

In [18]:
data=pd.read_csv('assignment6.csv')
data

   sepal_length  sepal_width  petal_length  petal_width     species
0           5.1          3.5           1.4          0.2      setosa
1           4.9          3.0           1.4          0.2      setosa
2           4.7          3.2           1.3          0.2      setosa
3           4.6          3.1           1.5          0.2      setosa
4           5.0          3.6           1.4          0.2      setosa
5           7.0          3.2           4.7          1.4  versicolor
6           6.4          3.2           4.5          1.5  versicolor
7           6.9          3.1           4.9          1.5  versicolor
8           5.5          2.3           4.0          1.3  versicolor
9           6.5          2.8           4.6          1.5  versicolor

In [4]:
#CONVERTING IT TO NUMPY
sepal_length=data['sepal_length'].to_numpy()
sepal_width=data['sepal_width'].to_numpy()
petal_length=data['petal_length'].to_numpy()
petal_width=data['petal_width'].to_numpy()

In [6]:
#calculate euclidian distance
import math
def eDistance(a,b,c,d):
    dist = math.sqrt((a-8.2)**2 + (b-2.6)**2+(c-3.2)**2+(d-1.8)**2)
    return dist

In [7]:
#list 
dist=[]
for a,b,c,d in zip(sepal_length,sepal_width,petal_length,petal_width):
    dist.append(calculateDistance(a,b,c,d))
print(dist)

[4.0274061131204535, 4.104875150354758, 4.33358973600409, 4.319722213291035, 4.127953488110059, 2.051828452868319, 2.3194827009486394, 2.218107301281883, 2.8757607689096805, 2.2315913604421387]

In [8]:
#CONVERTING SPECIES COLUMN TO NUMPY
species=data['species'].to_numpy()

In [9]:
#CREATING DATAFRAME
df = pd.DataFrame(list(zip(dist, species)),
               columns =['Distance', 'Species'])

In [10]:
df

   Distance     Species
0  4.027406      setosa
1  4.104875      setosa
2  4.333590      setosa
3  4.319722      setosa
4  4.127953      setosa
5  2.051828  versicolor
6  2.319483  versicolor
7  2.218107  versicolor
8  2.875761  versicolor
9  2.231591  versicolor

In [11]:
#SORTING TO FIND NEARREST DISTANCE
df = df.sort_values(by=['Distance'])

In [12]:
df

   Distance     Species
5  2.051828  versicolor
7  2.218107  versicolor
9  2.231591  versicolor
6  2.319483  versicolor
8  2.875761  versicolor
0  4.027406      setosa
1  4.104875      setosa
4  4.127953      setosa
3  4.319722      setosa
2  4.333590      setosa

In [13]:
#TO FIND NEAREST NEIGHBOUR TO SORT THE LIST
KNN=df['Species'].to_list()

In [14]:
KNN

['versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'versicolor',
 'setosa',
 'setosa',
 'setosa',
 'setosa',
 'setosa']

In [15]:
#k=3
print(max(KNN[:3],key = KNN[:3].count))

versicolor

In [16]:
#k=5
print(max(KNN[:5],key=KNN[:5].count))

versicolor

In [17]:
#k=7
print(max(KNN[:7],key=KNN[:7].count))

versicolor